
{% extends "base.html" %}
{% load humanize %}

{% block content %}
		<!-- The apnumber filter comes from the humanize module, allowing numbers under ten to be spelled out -->
	<h2>{{ audiobook_list.count|apnumber|title }} Audiobook{{ audiobook_list.count|pluralize }}</h2>
	<!-- Because this is a loop, I've added prefetching to the view for authors to eliminate duplicated queries -->
	{% for audio in audiobook_list %}
		<h3>{{ audio.title }}</h3>
			<li>{{ audio.list_authors }}</li>
	{% endfor %}

{% endblock %}