{% extends "base.html" %}

{% block content %}
<!-- 	Figure out a way to test if there are any books-->
	{% if True %}
		<ul style="list-style: none;">
		{% for book in object_list %}
			<li><h2><a href="{% url 'books:detail' book.id %}">{{ book.title }}</a></h2></li>
				<ul style="list-style: none;">
				<li>By {{ book.list_authors }}</li>
				{% if book.finished %}
					<li>Finished</li>
				{% endif %}
				<li>{{ book.description }}</li>
				</ul>
		{% endfor %}
		</ul>
	{% else %}
		<p>You haven't added any books yet</p>
	{% endif %}
{% endblock %}