<!doctype html>
<html>
	<head>
		<title>MyShelf</title>
		<meta charset="utf-8">
		<meta name="description" content="Manage your personal collection">
		<meta name="viewport" content="Width=device-width, intial-scale=1">
	</head>
	<body>
		<header>
			<div>
				<h1>MyShelf</h1>
			</div>
			<div>
				{% if request.user.is_authenticated %}
					<p>{{ request.user.username }}</p>
					<a href="{% url 'books:logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'books:login' %}">Login</a>
				{% endif %}
			</div>
		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
		<footer>
			<p>This will be the footer</p>
		</footer>
	</body>
</html>